
body {
    margin: 0;   
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid #404c5a; */
    outline-color: #8cd1e6;
}

button {
    margin: 10px 0;
    padding: 10px 15px;
    border: none;
}

/* #input-btn {
    color: #f3f3f3;
    background-color: #8cd1e6;
    font-weight: bold;    
} */
#del-btn, #input-btn, #save_tab-btn {
    color: #8cd1e6;
    border: 2px solid #8cd1e6;
    background-color: #ffffff;
}
#del-btn:hover, 
#input-btn:hover,
#save_tab-btn:hover {
    background-color: #8cd1e6;
    color: #fff;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0px;    
}
a {
    color: #8cd1e6;
}